<!-- About Section -->
    <section id="infosessions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Info sessions</h2>
                    <h3 class="section-subheading text-muted">We are organizing two free info-sessions in Brussels.</h3>
                </div>
            </div>
            <div class="row">
                <div id="subscription-form">
                    <script type="text/javascript" src="//app.mailerlite.com/data/webforms/54799/o1j2n2.js?v4"></script>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/graph_social_networking.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 15, 2016</h4>
                                    <h4 class="subheading">Venue, Brussels</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The <a class="page-scroll" href=#whywhathow>why, what and how</a> of stakeholder's management discussed face-to-face, in detail and with the taste of wine.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/graph_social_networking.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 20, 2015</h4>
                                    <h4 class="subheading">Venue, Brussels</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The <a class="page-scroll" href=#whywhathow>why, what and how</a> of stakeholder's management discussed face-to-face, in detail and with the taste of wine.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Register 
				  <br>for
                                    <br>one!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            -->
        </div>
    </section>
