<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-lg-4">
                    <a href="http://www.globalbraininstitute.org">
                        <img src="img/logos/gbi.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-4">
                    <a href="http://www.positivedevelopment.be/">
                        <img src="img/logos/positive_development.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-4">
                    <a href="http://www.erc.lt/en/">
                        <img src="img/logos/erc_lt_blue.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>

        </div>
    </aside>
