<!-- Brief definition section -->
    <section id="definition" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="definition"><span class="emph">Systemic management</span><br/> of projects, programmes, governance and policy initiatives which affect <span class="emph">multiple interest groups</span> with <span class="emph">diverse</span> or conflicting <span class="emph">worldviews</span>.</p>
                </div>
            </div>
            <!--
            <div class="row centered">
                <a href="#whywhathow" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
            -->
        </div>
    </section>